:root
{
    --cor-padrao: #00A2E8;
    --bg-padrao: #101010;
    --bg-destaque: #2D2D2D;
    --bg-header: #000000;
    --font: 'Poiret-One';
    --color: #FFFFFF;
    --color-footer: #696969;
}

*
{
    box-sizing: border-box;
    margin: 0;
}

body
{
    background-color: var(--bg-padrao);
    font-family: 'Poiret One', sans-serif;
}

header
{
    align-items: center;
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

img
{display: block;}

.lista
{
    display: flex;
    padding: 0;
}

li
{list-style: none;}

a
{
    display: block;
    text-decoration: none;
}

.nav-link
{
    color: var(--color);
    display: inline;
    margin-left: 1em;
    text-transform: uppercase;
    transition: ease-out .5s;
}

.nav-link:hover
{
    background-color: var(--cor-padrao);
    border-radius: 5px;
    color: var(--bg-header);
    padding: .5em;
}

footer
{
    align-items: center;
    margin-top: 1em;
    border-top: 1px solid var(--bg-header);
    display: flex;
    flex-direction: column;
    padding: .5em 0;
    text-align: center;
}

#div-footer-top
{
    display: flex;
    flex-direction: column;
}

strong
{font-size: 1.3em;}

span, small
{font-size: 1em;}

strong, small
{color: var(--color-footer); font-weight: lighter;}

.lista-footer-links
{margin: .5em 0;}

.midia-link
{color: var(--cor-padrao);}

.bi-github
{margin: 0 1em;}

header > button
{display: none; transition: 3s ease-in;}


@media  (max-width: 600px) {
    
    header
    {
        flex-direction: column;
        row-gap: .5em;
        justify-content: center; 
    }

    strong
    {font-size: 1.1em;}

    span, small
    {font-size: .8em;}

}