section
{
    margin: 2em auto;
    width: 70vw;
}

.section-flex
{display: flex;}

.section-flex > article
{
    width: 45%;
    margin: auto;
}

h1
{
    color: var(--cor-padrao);
    font-size: 2em;
    font-weight: lighter;
}

h1 + p
{
    color: var(--color);
    font-size: 1.3em;
    font-weight: lighter;
}

.article-section-img {width: 100%;}

#section-recent-works 
{position: relative; text-align: center;}

#section-recent-works > i
{
    color: var(--cor-padrao);
    font-size: 36px;
    position: absolute;
    top: 50%;
}

#section-recent-works > i:hover
{cursor: pointer;}

i[class$="left"]
{left: 0;}
i[class$="right"]
{right: 0;}

#section-recent-works > article
{
    display: flex;
    justify-content: space-between;
    margin: 1em auto 0;
    width: 90%;
}

.div-recent-works
{
    background-color: var(--bg-destaque);
    border-radius: 1em;
    height: 200px;
    width: 30%;
}

.div-recent-works > img
{
    border-radius: 1em;
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) 
{
    .section-flex
    {width: 90vw;}

    #section-automacao > article:nth-of-type(1)
    {display: none;}   
    
    #section-industria > article:nth-of-type(2)
    {display: none;}   

    .section-flex > article
    {
        text-align: center;
        width: 100%;
    }

    h1
    {font-size: 1.7em;}

    h1 + p
    {font-size: 1em; margin-top: .5em;}

    #section-recent-works > .bi
    {display: none;}

    #section-recent-works > article
    {
        align-items: center;
        flex-direction: column;
        row-gap: 1em;
    }

    .div-recent-works
    {
        height: 150px;
        width: 80%;
    }

    .div-recent-works > img
    {
        border-radius: 1em;
        height: 100%;
        width: 100%;
    }

}

@media (max-width: 1000px) 
{
    .section-flex
    {width: 90vw;}

    #section-automacao > article:nth-of-type(1)
    {display: none;}   
    
    #section-industria > article:nth-of-type(2)
    {display: none;}   

    .section-flex > article
    {
        text-align: center;
        width: 100%;
    }

    h1
    {font-size: 1.8em;}

    h1 + p
    {font-size: 1.1em; margin-top: .5em;}

    #section-recent-works > .bi
    {display: none;}

    #section-recent-works > article
    {
        align-items: center;
        flex-direction: column;
        row-gap: 1em;
    }

    .div-recent-works
    {
        height: 170px;
        width: 80%;
    }

    .div-recent-works > img
    {
        border-radius: 1em;
        height: 100%;
        width: 100%;
    }
}